---
interface Props {
  user: string;
  comment: string;
}

const {user, comment} = Astro.props;
---

<div class="w-full h-full bg-white shadow-md rounded flex-shrink-0 snap-mandatory  snap-center">
    <h3>{user}</h3>
    <p>
        "{comment}"
    </p>
</div>
