---
interface Props {
  initialName: string;
  user: string;
  comment: string;
}

const { user, comment, initialName } = Astro.props;
---

<div class="swiper-slide p-4 rounded-2xl">
  <div
    class="flex flex-column flex-wrap h-auto gap-2 items-center justify-between"
  >
    <!-- icon section -->
    <div class="flex flex-row h-20 w-full">
      <div class="flex w-10 h-10 opacity-20">
        <img src="public/images/svg/quote.png" alt="" />
      </div>
    </div>
    <!-- comments -->
    <div
      class="flex flex-row items-center justify-center text-neutral-500 h-20 w-full border-b border-b-neutral-300"
    >
      <p class="text-xl text-center">
        {comment}
      </p>
    </div>
    <!-- Name user -->
    <div class="flex flex-row h-20 w-full justify-around">
      <!-- icon user -->
      <div
        class="w-10 h-10 md:w-20 md:h-20 bg-amber-500 text-neutral-500 rounded-full flex justify-center items-center"
      >
        <p>
          {initialName}
        </p>
      </div>

      <div class="w-80 h-20 text-neutral-500 flex justify-center items-center">
        <p>
          {user}
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  .swiper-slide {
    width: 80%;
    height: 250px;
    background-color: #e4e4e4ff;
    transition: opacity 0.3s ease;
    opacity: 0.7;
  }

  .swiper-slide {
    transition: opacity 0.3s ease;
    opacity: 0.9;
  }

  .swiper-slide-active {
    opacity: 1 !important;
  }

  @media (min-width: 768px) {
    .swiper-slide {
      width: 35%;
      height: 300px;
    }
  }
</style>
