---
interface Props {
  initialName: string;
  user: string;
  comment: string;
}

const { user, comment, initialName } = Astro.props;
---

<div class="swiper-slide p-4 rounded-2xl">
  <!-- icon testimonial -->
  <div class="flex flex-row w-20 h-20 mb-2">
    <picture class="opacity-10">
      <img src="images/svg/quote.png" alt="" />
    </picture>
  </div>
  <!-- body testimonial comments and profile user -->
  <div class="flex flex-row flex-wrap w-full h-auto">
    <!-- comments section -->
    <div
      class="w-full h-20 flex items-center justify-center text-2xl text-neutral-400"
    >
      "{comment}"
    </div>
    <!-- profile section -->
    <div class="w-full flex flex-row h-20 border-t border-t-neutral-200">
      <!-- icon and name user -->
      <div class="flex w-60 h-auto items-center justify-center gap-1">
        <!-- Initial name -->
        <div
          class="w-10 h-10 bg-amber-500 rounded-full flex items-center justify-center"
        >
          {initialName}
        </div>
        <div class="w-40 h-10 text-neutral-400 font-[bilmond]">
          <p>{user}</p>
          <p class="text-sm">Usuario de instagram</p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .swiper-slide {
    width: 90%;
    height: auto;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    transition: opacity 0.3s ease;
    opacity: 0.7;
  }

  .swiper-slide {
    transition: opacity 0.3s ease;
    opacity: 0.9;
  }

  .swiper-slide-active {
    opacity: 1 !important;
  }

  @media (min-width: 768px) {
    .swiper-slide {
      width: 35%;
      height: 300px;
    }
  }
</style>
