---
interface Props {
  name: string;
  description: string;
  image: string;
}

const { name, description, image } = Astro.props;
---

<div
  class="w-96 h-[450px] group p-3 pb-3 rounded-md flex flex-col gap-2 bg-neutral-50 border border-neutral-200"
>
  <!-- name  -->
  <div
    class="w-full h-10 flex items-center justify-center group-hover:text-yellow-700 group-hover:transition-all ease-in-out duration-150"
  >
    <h3 class="font-[harring]">
      {name}
    </h3>
  </div>
  <!-- Image -->
  <div class="w-full h-48 overflow-hidden rounded-md">
    <picture>
      <img
        class="w-full h-full rounded-md group-hover:scale-105 hover:transition-all ease-in duration-75"
        src={image}
        alt=""
      />
    </picture>
  </div>
  <!-- Description -->
  <div class="w-full min-h-20 text-balance font-[glontow] text-neutral-500">
    {description}
  </div>
</div>
