---
import CardComment from "./CardComment.astro";
import { COMMENTS } from "../const/comments";
---

<section
  class="w-full min-h-96 bg-neutral-100 flex flex-row flex-wrap gap-1 justify-center p-6"
>
  <!-- TESTIMONIAL -->
  <div
    class="w-full h-5 flex flex-col justify-center items-center "
  >
    <h3 class="font-[bilmond]">TESTIMONIOS</h3>
  </div>

  <div
    class="grid w-auto min-h-56 xl:grid-cols-3 lg:grid-cols-2 content-start gap-2 flex-wrap mask-b-from-6 mt-3"
  >
    {
      COMMENTS.map((item: any) => (
        <CardComment
          user={item.user}
          comment={item.comment}
          initialName={item.initialName}
        />
      ))
    }
  </div>
</section>
