---
import CardComment from "./CardComment.astro";
import { COMMENTS } from "../const/comments";
---

<section
  id="testimonial"
  class="w-full min-h-96 bg-neutral-100 flex flex-col flex-wrap gap-1 justify-center items-center p-6 scroll-mt-40"
>
  <!-- TESTIMONIAL -->
  <div
    class="w-full h-5 flex flex-col mb-7 justify-center items-center"
    data-aos="fade-up"
  >
    <h3 class="uppercase text-yellow-600">TESTIMONIOS</h3>
    <p class="font-[bilmond]">¿Que dicen nuestros clientes?</p>
  </div>

  <div class="flex flex-row w-full justify-center mask-l-from-50% mask-r-from-50%" data-aos="fade-up">
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper ">
        <!-- Slides -->
        {
          COMMENTS.map((comment: any) => (
            <CardComment
              user={comment.user}
              comment={comment.comment}
              initialName={comment.initialName}
            />
          ))
        }
      </div>
    </div>
  </div>
</section>

<style>
  .swiper {
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding-bottom: 2rem;
}
</style>

<script>
  const btnTestimonial = document.getElementById("btn-testimonial");
  const commentsContainer = document.getElementById("comments-container");

  btnTestimonial?.addEventListener("click", () => {
    console.log("click");
    commentsContainer?.classList.toggle("open-testimonials");
  });
</script>
