<div class="w-full overflow-hidden">
  <svg class="w-full h-32 bg-yellow-500 " viewBox="0 0 1440 320" preserveAspectRatio="none">
    <path fill="#ffffff" d="M0,0 C720,320 720,320 1440,0 L1440,320 L0,320 Z"></path>
  </svg>
</div>