<!-- Productos para las festividades tipicas de Argentina -->
---

---

<section class="flex flex-col  w-full h-96 bg-gradient-to-b from-sky-400 via-white to-sky-400">
<h3 class="w-full h-10 font-[glonto] text-neutral-500 text-xl text-center">Viva la patria!</h3>
<h2 class="w-full h-10 font-[glonto] text-neutral-500 text-xl text-center">Disfrutá nuestras delicias en cada celebración argentina</h2>
</section>