---
import { FESTIVITIES } from "../const/festivitiesProducts";
import CardFestivities from "./CardFestivities.astro";
---

<!-- Productos para las festividades tipicas de Argentina -->
<section
  class="flex flex-col flex-wrap w-full min-h-96 bg-gradient-to-b from-sky-400 via-white bg-[url('https://i.pinimg.com/736x/3c/15/ee/3c15ee6c637a884967d270f4d9120420.jpg')]"
>
  <h3 class="w-full h-10 font-[glonto] text-neutral-500 text-xl text-center">
    Viva la patria!
  </h3>
  <h2 class="w-full h-10 font-[glonto] text-neutral-500 text-xl text-center">
    Disfrutá nuestras delicias en cada celebración argentina
  </h2>

  <div class="flex flex-row justify-center gap-2 flex-wrap">
    {
      FESTIVITIES.map((item:any) => (
        <CardFestivities name={item.name} image={item.image}/>
      ))
    }
  </div>
</section>
