---
import { FESTIVITIES } from "../const/festivitiesProducts";
import CardFestivities from "./CardFestivities.astro";
---

<!-- Productos para las festividades tipicas de Argentina -->
<section
  id="festivities"
  class="flex flex-row flex-wrap justify-around w-full min-h-96 p-2 bg-gradient-to-b from-sky-400 scroll-mt-40 via-white bg-[url('https://i.pinimg.com/736x/3c/15/ee/3c15ee6c637a884967d270f4d9120420.jpg')] bg-repeat bg-cover lg:bg-contain"
>
  <div class="h-auto w-[500px] flex flex-col justify-center items-center" data-aos="fade-up">
    
    <h2 class="font-[bilmond]">Disfruta de las fiestas patrias</h2>
    <h3 class="font-[bilmond]">Con nuestros productos</h3>
    <p class="font-[bilmond]">
      Disfrutá nuestras delicias en cada celebración argentina
    </p>
    <p class="font-[bilmond]">Contamos con varios productos para tu mesa</p>
  </div>
  <div class="h-auto w-[600px] grid grid-cols-1 md:grid-cols-2 gap-2"   data-aos="fade-up">
    <div class="w-3xs h-auto bg-amber-200 rounded mx-auto">
      <picture>
        <img
          class="h-full w-full object-cover rounded"
          src="../../public/images/Festivities/festivitie-1.webp"
          alt=""
        />
      </picture>
    </div>
    <div class="w-3xs h-auto bg-yellow-200 rounded mx-auto">
      <picture>
        <img
          class="h-full w-full object-cover rounded"
          src="../../public/images/Festivities/festivitie-2.webp"
          alt=""
        />
      </picture>
    </div>
  </div>
</section>
