---
import { FESTIVITIES } from "../const/festivitiesProducts";
import CardFestivities from "./CardFestivities.astro";
---

<!-- Productos para las festividades tipicas de Argentina -->
<section
  id="festivities"
  class="flex flex-col w-full min-h-[600px]  gap-2 scroll-mt-40"
  
>
  <div
    class="flex flex-col min-h-52 w-[90%] mx-auto p-1  text-center justify-center"
    data-aos="fade-up"
  >
    <h2 class="text-yellow-600 uppercase text-balance text-center">Endulzá tus momentos con el auténtico sabor argentino.</h2>
    <p class="font-[bilmond]  text-balance text-center">Pastelitos y alfajores de maicena para compartir en cada celebración.</p>
  </div>
  <!-- gallery -->
  <div class="w-full  min-h-72 flex flex-row flex-wrap justify-center gap-2 mb-5"
  data-aos="fade-up">
    <div class="w-96 h-72 ">
      <picture>
        <img src="../../public/images/Festivities/festivitie-1.webp" class="w-full h-full object-cover rounded shadow-neutral-300 shadow-lg" alt="">
      </picture>
    </div>
    <div class="w-96 h-72 ">
      <picture>
        <img src="../../public/images/Festivities/festivitie-2.webp" class="w-full h-full object-cover rounded shadow-neutral-300 shadow-lg" alt="">
      </picture>
    </div>
    <div class="w-96 h-72 ">
       <picture>
        <img src="https://i.ytimg.com/vi/qB1ICj-Fy7c/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLAGzgCrFtM2h2BQIj2DX8eulXy7-Q" class="w-full h-full object-cover rounded shadow-neutral-300 shadow-lg" alt="">
      </picture>
    </div>
  </div>
</section>
