---
import { FESTIVITIES } from "../const/festivitiesProducts";
import CardFestivities from "./CardFestivities.astro";
---

<!-- Productos para las festividades tipicas de Argentina -->
<section
  id="festivities"
  class="flex flex-row flex-wrap justify-center items-center gap-2 w-full min-h-[600px] p-2 bg-gradient-to-b via-white scroll-mt-40"
>
  <!-- Section Images -->
  <div class="flex w-80 h-80 items-start" data-aos="fade-up">
    <img
      src="../../public/images/Festivities/festivitie-1.webp"
      class="object-contain"
      alt=""
    />
  </div>
  <!-- Section Info -->
  <div class="flex w-[800px] h-80">
    <div
      class="h-auto w-full text-center text-balance flex flex-col justify-center items-center"
      data-aos="fade-up"
    >
      <h2 class="font-[bilmond] text-yellow-600">
        Celebremos juntos las Fiestas Patrias
      </h2>
      <h3 class="font-[bilmond]">
        Llevá a tu mesa el auténtico sabor argentino.
      </h3>
      <p class="font-[bilmond]">
        Descubrí nuestras delicias y hacé de cada celebración un momento
        especial.
      </p>
    </div>
  </div>
  <!-- Section Images -->
  <div class="flex w-80 h-80 items-end" data-aos="fade-up">
    <img
      src="../../public/images/Festivities/festivitie-2.webp"
      class="object-contain"
      alt=""
    />
  </div>
</section>
