---
const year:number = new Date().getFullYear();

---
<footer class="w-full min-h-44 flex items-center flex-col gap-1 bg-[#c78622]">
  <!-- Social Media -->

  <div class="flex w-80 h-30 flex-row flex-wrap">
    <h3 class="font-[glonto] flex my-auto h-5 w-full justify-center text-white">
      Seguinos en Instagram
    </h3>
    <div class="flex w-full justify-center items-center">
      <div
        class="w-10 h-10 rounded-full flex justify-center items-center group"
      >
        <a
          href="https://www.instagram.com/mab__sabores/"
          target="_blank"
          class="text-white group-hover:scale-110 group-hover:transition-all ease-in duration-150"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-instagram-icon lucide-instagram"
            ><rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect><path
              d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line
              x1="17.5"
              x2="17.51"
              y1="6.5"
              y2="6.5"></line></svg
          >
        </a>
      </div>
    </div>
  </div>

  <!-- copyright -->
  <div
    class="flex w-full flex-row flex-wrap h-16 border-t border-neutral-200 justify-between"
  >
    <div
      class="flex flex-row w-[700px] h-auto justify-center items-center mx-auto"
    >
      <p class="font-[bilmond] text-sm text-neutral-200">
        © {year} MabSabores - Todos los derechos reservados
      </p>
    </div>
    <div
      class="flex flex-row flex-wrap w-[750px] justify-center items-center mx-auto"
    >
      <p
        class="font-[bilmond] w-full text-center text-sm text-neutral-200/75"
      >
        Desarrollador por
        <strong>adrianmachado</strong>
      </p>
      <p class="font-[bilmond] text-sm text-neutral-200/75">
        Diseño logo por
        <strong>Walter Taborda </strong>
      </p>
    </div>
  </div>
</footer>
