<section
  class="h-screen flex flex-row flex-wrap bg-yellow-500 justify-around items-center gap-1 relative bg-[url('https://www.shutterstock.com/image-vector/pastry-sweet-bakery-seamless-pattern-600nw-2143884193.jpg')] bg-blend-lighten clip-curve bg-repeat bg-center"
>
  <div class="flex w-[700px] h-[400px] flex-col justify-center">
    <h1 class="uppercase text-6xl text-amber-800">Mab sabores</h1>
    <h4 class="uppercase font-[bilmond] text-3xl">
      Dulces momentos, recuerdos felices
    </h4>
    <h4 class="uppercase font-[bilmond] text-2xl">
      Todo lo que necesitas para endulzar tu día
    </h4>
    <button class="w-40 h-12 p-3 rounded-full bg-amber-300 mt-4 mx-auto"
      >Hace tu pedido</button
    >
  </div>
</section>

<style>
  .clip-curve {
  clip-path: ellipse(130% 90% at 50% 10%);
}
</style>
