<section
  id="home"
  class="h-screen flex flex-row flex-wra scroll-mt-10 justify-around items-center gap-1 relative"
>
  <div
    class="w-full h-screen absolute bg-[url('https://www.shutterstock.com/image-vector/pastry-sweet-bakery-seamless-pattern-600nw-2143884193.jpg')] bg-fixed clip-curve bg-repeat bg-center image-hero -z-10"
  >
  </div>

  <div class="flex w-[700px] h-[400px] flex-col justify-center ">
    <h1 class="uppercase text-6xl text-amber-800 text-center">Mab sabores</h1>
    <h4 class="uppercase  text-3xl text-center text-white font-bold">
      Dulces momentos, recuerdos felices
    </h4>
    <h4 class="uppercase  text-2xl text-center text-white font-bold">
      Todo lo que necesitas para endulzar tu día
    </h4>
    <a
      href="https://www.instagram.com/mab__sabores/"
      target="_blank"
      class="w-40 h-12 p-3 rounded-full border-2 border-amber-700 flex flex-row gap-1 items-center justify-center uppercase bg-neutral-50/15 hover:bg-amber-700 mt-4 mx-auto text-center text-balance hover:transition-all ease-in duration-150 hover:text-white"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-instagram-icon lucide-instagram"
        ><rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect><path
          d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line
          x1="17.5"
          x2="17.51"
          y1="6.5"
          y2="6.5"></line></svg
      >
      Instagram</a
    >
  </div>
</section>

<style>
  .clip-curve {
    clip-path: ellipse(130% 90% at 50% 10%);
  }

  .image-hero {
    height: 100vh;
    filter: grayscale(100%) brightness(75%) contrast(40%) ;
  }
</style>
