<section
  id="home"
  class="h-screen flex flex-row flex-wrap bg-yellow-500 scroll-mt-10 justify-around items-center gap-1 relative bg-[url('https://www.shutterstock.com/image-vector/pastry-sweet-bakery-seamless-pattern-600nw-2143884193.jpg')]  bg-fixed bg-blend-lighten clip-curve bg-repeat bg-center"
>
  <div class="flex w-[700px] h-[400px] flex-col justify-center">
    <h1 class="uppercase text-6xl text-amber-800">Mab sabores</h1>
    <h4 class="uppercase font-[bilmond] text-3xl">
      Dulces momentos, recuerdos felices
    </h4>
    <h4 class="uppercase font-[bilmond] text-2xl">
      Todo lo que necesitas para endulzar tu día
    </h4>
    <a
      href="https://www.instagram.com/mab__sabores/"
      target="_blank"
      class="w-40 h-12 p-3 rounded-full border-2 border-amber-700 flex flex-row gap-1 items-center justify-center uppercase bg-neutral-50/60 hover:bg-amber-700 mt-4 mx-auto text-center text-balance hover:transition-all ease-in duration-150 hover:text-white"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-instagram-icon lucide-instagram"
        ><rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect><path
          d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line
          x1="17.5"
          x2="17.51"
          y1="6.5"
          y2="6.5"></line></svg
      >
      Instagram</a
    >
  </div>
</section>

<style>
  .clip-curve {
    clip-path: ellipse(130% 90% at 50% 10%);
  }
</style>
