<section
  class="h-screen flex flex-row flex-wrap bg-yellow-500 justify-around items-center gap-1"
>
  <!-- Box left -->
  <div class="w-3xl h-[600px] bg-cyan-900"></div>
  <!-- Box right -->
  <div class="w-4xl h-[600px] bg-cyan-900 flex flex-row gap-2">
    <div class="w-80 h-auto bg-amber-300">
      <picture>
        <img
          class="w-full h-full object-cover"
          src="https://elmundoeats.es/wp-content/uploads/2019/09/Pasta-Frola-2.jpg"
          alt=""
        />
      </picture>
    </div>
    <div class="w-80 h-auto bg-amber-300">
      <img
        class="w-full h-full object-cover"
        src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj_GN5-PBNVSFesT4WGS8GWNhyphenhyphen-rbO3yrWEXbZvY0NoArvApRdMFcuo8k6JdLztXKSsTBfv_zzqD0fkBVR2alh0b9jh-BlAFbxIllgpgD80yxO2FB17xsm6CornwMn2NSgiSsN0moiNeig/s1600/cheeseckae+con+frutillas+1.jpg"
        alt=""
      />
    </div>
    <div class="w-80 h-auto bg-amber-300">
      <img
        class="w-full h-full object-cover"
        src="https://www.annarecetasfaciles.com/files/lemon-pie-scaled.jpg"
        alt=""
      />
    </div>
  </div>
</section>
