<section
  class="h-screen flex flex-row flex-wrap bg-yellow-500 justify-around items-center gap-1 relative bg-[url('https://blog.sathguru.com/wp-content/uploads/2024/07/Rise-and-Bake-Leveraging-Evolution-in-the-Bakery-Aisle.jpg')] bg-no-repeat bg-cover"
>
  <div class="flex w-[700px] h-[400px] flex-col justify-center">
    <h1 class="uppercase text-6xl">Mab sabores</h1>
    <h4 class="uppercase font-[kundam] text-3xl">
      Dulces momentos, recuerdos felices
    </h4>
    <h4 class="uppercase font-[kundam] text-3xl">
      Todo lo que necesitas para endulzar tu día
    </h4>
    <h4 class="uppercase font-[kundam] text-7xl">
    </h4>
    <button class="w-40 h-12 p-3 rounded-full bg-amber-300 mt-4 mx-auto"
      >Hace tu pedido</button
    >
  </div>
</section>
