<section
  class="min-h-9/12 flex flex-row flex-wrap bg-rose-200 items-center justify-center"
>
  <div
    class="flex flex-row flex-wrap bg-amber-200 w-[70%] min-h-[500px] justify-around items-center"
  >
    <!-- info hero -->
    <div class="bg-rose-200/20 w-2xl h-96 text-balance text-center flex flex-col justify-center rounded-4xl">
      <h3 class="font-bold">Todo eso dulce que buscas, encontralos aca</h3>
      <p>
        Podes disfrutar de nuestros productos, hacemos diferentes pedidos, para
        cumpleaños, reuniones y días festivos.
      </p>
      <p>Hace tu pedido!</p>
      <button class="bg-rose-100 rounded-2xl w-30 h-10 mx-auto mt-2"> Hacer Pedido</button>
    </div>
    <!-- Picture hero -->
    <picture class="bg-red-500 w-96 h-96 rounded-2xl">
      <img
        src="https://www.thespruceeats.com/thmb/HM3X8w38eMVo0Lejx4GLvGHZ4dM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/gluten-free-new-york-cheesecake-1450985-hero-01-dc54f9daf38044238b495c7cefc191fa.jpg"
        class="w-full h-full object-cover rounded-2xl"
        alt=""
      />
    </picture>
  </div>
</section>
