<section
  class="h-screen flex flex-row flex-wrap bg-yellow-500 justify-around items-center gap-1 relative bg-[url('https://blog.sathguru.com/wp-content/uploads/2024/07/Rise-and-Bake-Leveraging-Evolution-in-the-Bakery-Aisle.jpg')] bg-no-repeat bg-cover"
>
  <div class="flex w-[500px] h-[400px] flex-col justify-center items-center">
    <h1 class="uppercase">Mab sabores</h1>
    <h4 class="uppercase font-[glonto]">Dulces momentos, recuerdos felices</h4>
    <h4 class="uppercase font-[glonto]">
      Todo lo que necesitas para endulzar tu día
    </h4>
    <button class="w-40 h-12 p-3 rounded-full bg-amber-300 mt-4"
      >Hace tu pedido</button
    >
  </div>
  <div class="flex w-[500px] h-[400px]">
    <picture class="w-full h-full">
      <img
        class="w-full h-full object-cover rounded-3xl"
        src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiOT4PyQmRFEYvyZhfGvJmKSkWZQfiGFrkpeUQ0aKGilC8rn2fE0pAMu6ovofDpejPydjHIzAJLQcwV0K2Q1nNgt7xxC1eASF5zDwk_j7hwZe2YozURvUDjqnKHcycXfJgeukNZyaE3_Dgr/s16000/DSCN0027-01.jpeg"
        alt=""
      />
    </picture>
  </div>
</section>
