<section
  class="h-screen flex flex-col flex-wrap bg-yellow-500 justify-center-safe items-center gap-1 relative bg-[url('https://blog.sathguru.com/wp-content/uploads/2024/07/Rise-and-Bake-Leveraging-Evolution-in-the-Bakery-Aisle.jpg')] bg-no-repeat bg-cover"
>
  <div class="w-[800px] h-32 flex items-center justify-center">
    <h1 class="font-[harring] text-center uppercase">Mab Sabores</h1>
  </div>
  <div class="w-[800px] h-32">
    <h3 class="uppercase text-center">Dulces momentos, recuerdos felices</h3>
    <h3 class="uppercase text-center">
      Todo lo que necesitas para endulzar tu día
    </h3>
  </div>
  <button class="w-40 h-12 p-2 bg-amber-700 rounded-xl hover:bg-amber-300 cursor-pointer hover:transition-all ease-in duration-200">Hace tu pedido</button>
</section>
