<section
  class="flex flex-row bg-neutral-800 flex-wrap justify-around items-center w-full min-h-96"
>
  <div class="flex flex-col w-[600px] min-h-50 flex-wrap items-center justify-center">
    <h2 class="w-full font-[bilmond] text-yellow-600">NUESTROS PRODUCTOS INTEGRALES</h2>
    <span class="w-full font-[glonto] text-white"
      >Cada uno de nuestros productos integrales está diseñado para ofrecerte la
      máxima frescura y calidad, aportando energía y bienestar mientras deleita
      tu paladar.</span
    >
  </div>
  <!-- Finalizar, que imagenes van a ir -->
  <div class="flex flex-row w-[600px] h-96 bg-red-800"></div>
</section>
