<section
  id="variety"
  class="flex flex-row bg-neutral-800 flex-wrap justify-around items-center w-full min-h-[500px] scroll-mt-40"
>
  <div
    class="flex flex-col w-[600px] p-6 min-h-50 flex-wrap text-center items-center justify-center"
      data-aos="fade-up"
  >
    <h2 class="w-full uppercase text-yellow-600">
      Variedad para todos los gustos
    </h2>
    <span class="w-full font-[bilmond] text-white text-balance"
      >Ya sea que elijas integrales o tradicionales, todos nuestros productos
      están creados con calidad y dedicación para brindarte energía, bienestar y
      un sabor irresistible.</span
    >
  </div>
  <!-- Finalizar, que imagenes van a ir -->
  <div class="grid grid-cols-4 grid-rows-2 w-[750px] h-[500px] gap-2 p-5"
    data-aos="fade-up">
    <div class="col-span-3 bg-amber-200">
      <picture class="w-full h-full block">
        <img
          class="w-full h-full object-cover"
          src="images/products/product-1.webp"
          alt=""
        />
      </picture>
    </div>
    <div class="col-span-1 bg-neutral-200">
      <picture class="w-full h-full block">
        <img
          class="w-full h-full object-cover"
          src="images/products/product-2.webp"
          alt=""
        />
      </picture>
    </div>
    <div class="col-span-1 bg-red-200">
      <picture class="w-full h-full block">
        <img
          class="w-full h-full object-cover"
          src="images/products/product-4.webp"
          alt=""
        />
      </picture>
    </div>
    <div class="col-span-3 bg-blue-200">
      <picture class="w-full h-full block">
        <img
          class="w-full h-full object-coverd"
          src="https://assets.tmecosys.com/image/upload/t_web_rdp_recipe_584x480_1_5x/img/recipe/ras/Assets/3527a1b1-364d-4c30-9d2f-b5167be83e1b/Derivates/2f5b538c-38bf-428f-ad76-4a3e0fe2e241.jpg"
          alt=""
        />
      </picture>
    </div>
  </div>
</section>
