<section
  class="flex flex-row bg-neutral-800 flex-wrap justify-around items-center w-full min-h-[500px]"
>
  <div
    class="flex flex-col w-[600px] min-h-50 flex-wrap items-center justify-center"
  >
    <h2 class="w-full font-[bilmond] text-yellow-600 uppercase">
      Variedad para todos los gustos
    </h2>
    <span class="w-full font-[bilmond] text-white"
      >Ya sea que elijas integrales o tradicionales, todos nuestros productos
      están creados con calidad y dedicación para brindarte energía, bienestar y
      un sabor irresistible.</span
    >
  </div>
  <!-- Finalizar, que imagenes van a ir -->
  <div class="grid grid-cols-4 grid-rows-2 w-[750px] h-[500px] gap-2 p-5">
    <div class="col-span-3 bg-amber-200">
      <picture class="w-full h-full block">
        <img
          class="w-full h-full object-cover"
          src="https://cdn0.recetasgratis.net/es/posts/8/2/0/pasta_frola_integral_76028_orig.jpg"
          alt=""
        />
      </picture>
    </div>
    <div class="col-span-1 bg-neutral-200">
      <picture class="w-full h-full block">
        <img
          class="w-full h-full object-cover"
          src="https://www.cucinare.tv/wp-content/uploads/2019/10/Alfajores-caseros-apertura.jpg"
          alt=""
        />
      </picture>
    </div>
    <div class="col-span-1 bg-red-200">
      <picture class="w-full h-full block">
        <img
          class="w-full h-full object-cover"
          src="https://cloudfront-us-east-1.images.arcpublishing.com/infobae/JLVQTAMW2ZH3LE7MKVQVSTO3OA.jpg"
          alt=""
        />
      </picture>
    </div>
    <div class="col-span-3 bg-blue-200">
      <picture class="w-full h-full block">
        <img
          class="w-full h-full object-cover"
          src="https://www.aceitesdeolivadeespana.com/wp-content/uploads/2019/03/brownies-de-chocolate.png"
          alt=""
        />
      </picture>
    </div>
  </div>
</section>
