<header
  class="w-full h-30 fixed top-0 flex flex-row flex-wrap justify-around items-center border bg-white border-b-neutral-800/10 nav-hidden z-10"
  id="header"
>
  <div
    class="w-20 h-20 bg-blue-800 flex flex-row items-center text-center justify-center"
  >
    <span> logo </span>
  </div>
  <nav class="w-[30rem] h-20 justify-center items-center">
    <ul
      class="flex flex-row flex-wrap gap-3 justify-center p-0 items-center mt-7 w-full"
    >
      <li class="w-20 text-center">
        <a
          class="border-b border-b-amber-200 hover:border-amber-900 p-2"
          href="#">Inicio</a
        >
      </li>
      <li class="w-30 text-center text-balance">
        <a
          href="#"
          class="border-b border-b-amber-200 hover:border-amber-900 p-2"
        >
          Tortas</a
        >
      </li>
      <li class="w-20 text-center">
        <a
          class="border-b border-b-amber-200 hover:border-amber-900 p-2"
          href="#">Contacto</a
        >
      </li>
      <li class="w-20 text-center">
        <a
          class="border-b border-b-amber-200 hover:border-amber-900 p-2"
          href="#">Más</a
        >
      </li>
    </ul>
  </nav>
</header>

<!-- <style>
  header.nav-hidden {
    transition: all 0.3s ease;
  }
  .nav-hidden {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(6px);
    height: 100px;
  }
</style>

<script>
  window.addEventListener("scroll", () => {
    const header = document.getElementById("header");

    if (window.scrollY > 50) {
      header?.classList.add("nav-hidden");
    } else {
      header?.classList.remove("nav-hidden");
    }
  });
</script> -->
