<header
  class="w-full h-30 fixed top-0 flex flex-row flex-wrap justify-around items-center border bg-white border-b-neutral-800/10 nav-hidden z-10"
  id="header"
>
  <div
    class="w-20 h-20 bg-white flex flex-row items-center text-center justify-center"
  >
    <span>
      <picture>
        <img
          class="rounded-full"
          src="../../public/images/logo/mab_sabores_logo.jpg"
          alt=""
        />
      </picture>
    </span>
  </div>

  <nav class="w-[30rem] h-20 justify-center items-center lg:block hidden">
    <ul
      class="flex flex-row flex-wrap gap-3 justify-center p-0 items-center mt-7 w-full"
    >
      <li class="w-20 text-center">
        <a
          class="border-b border-b-amber-200 hover:border-amber-900 p-2"
          href="#">Inicio</a
        >
      </li>
      <li class="w-30 text-center text-balance">
        <a
          href="#"
          class="border-b border-b-amber-200 hover:border-amber-900 p-2"
        >
          Tortas</a
        >
      </li>
      <li class="w-20 text-center">
        <a
          class="border-b border-b-amber-200 hover:border-amber-900 p-2"
          href="#">Contacto</a
        >
      </li>
      <li class="w-20 text-center">
        <a
          class="border-b border-b-amber-200 hover:border-amber-900 p-2"
          href="#">Más</a
        >
      </li>
    </ul>
  </nav>

  <label class="lg:hidden">
    <div
      class="w-9 h-10 cursor-pointer flex flex-col items-center justify-center"
    >
      <input class="hidden peer" type="checkbox" id="menu" />
      <div
        class="w-[50%] h-[2px] bg-black rounded-sm transition-all duration-300 origin-left translate-y-[0.45rem] peer-checked:rotate-[-45deg]"
      >
      </div>
      <div
        class="w-[50%] h-[2px] bg-black rounded-md transition-all duration-300 origin-center peer-checked:hidden"
      >
      </div>
      <div
        class="w-[50%] h-[2px] bg-black rounded-md transition-all duration-300 origin-left -translate-y-[0.45rem] peer-checked:rotate-[45deg]"
      >
      </div>
    </div>
  </label>

  <nav
    class="absolute bg-neutral-100 w-[100%] h-96 top-28 closed-menu"
    id="navbar"
  >
    <ul>
      <li class="w-auto text-center">
        <a
          class="border-b border-b-amber-200 hover:border-amber-900 p-2"
          href="#">Inicio</a
        >
      </li>
      <li class="w-auto text-center text-balance">
        <a
          href="#"
          class="border-b border-b-amber-200 hover:border-amber-900 p-2"
        >
          Tortas</a
        >
      </li>
      <li class="w-auto text-center">
        <a
          class="border-b border-b-amber-200 hover:border-amber-900 p-2"
          href="#">Contacto</a
        >
      </li>
      <li class="w-auto text-center">
        <a
          class="border-b border-b-amber-200 hover:border-amber-900 p-2"
          href="#">Más</a
        >
      </li>
    </ul>
  </nav>
</header>

<style>
  .open-menu {
    display: block;
    height: 300px;
    overflow: hidden;
    transition: all ease 1s;
  }
  .closed-menu {
    display: none;
  }
</style>

<script>
  const hamburguerMenu = document.getElementById("menu");
  const navbar = document.getElementById("navbar");

  hamburguerMenu?.addEventListener("click", () => {
    console.log("click");
    navbar?.classList.toggle("open-menu");
    navbar?.classList.toggle("closed-menu");
  });
</script>
