<header
  class="w-full h-30 bg-amber-700 fixed top-0 flex flex-row flex-wrap justify-around items-center"
>
  <div class="w-20 h-20 bg-blue-800"></div>
  <nav class="w-[30rem] h-20 bg-cyan-600 justify-center items-center">
    <ul class="flex flex-row flex-wrap gap-3 justify-center p-0 bg-cyan-200 items-center mt-7 w-full">
      <li class="bg-amber-950 w-20 text-center rounded-2xl text-xl"><a href="#">Inicio</a></li>
      <li class="bg-amber-950 w-50 text-center rounded-2xl text-balance"><a href="#">Nuestro Productos</a></li>
      <li class="bg-amber-950 w-20 text-center rounded-2xl"><a href="#">Contacto</a></li>
      <li class="bg-amber-950 w-20 text-center rounded-2xl"><a href="#">Más</a></li>
    </ul>
  </nav>
</header>
