<header
  class="w-full h-30 fixed top-0 flex flex-row flex-wrap justify-around items-center border bg-white border-b-neutral-800/10"
>
  <div
    class="w-20 h-20 bg-blue-800 flex flex-row items-center text-center justify-center"
  >
    <span> logo </span>
  </div>
  <nav class="w-[30rem] h-20 justify-center items-center">
    <ul
      class="flex flex-row flex-wrap gap-3 justify-center p-0 items-center mt-7 w-full"
    >
      <li class="w-20 text-center rounded-2xl"><a href="#">Inicio</a></li>
      <li class="w-30 text-center rounded-2xl text-balance">
        <a href="#"> Tortas</a>
      </li>
      <li class="w-20 text-center rounded-2xl"><a href="#">Contacto</a></li>
      <li class="w-20 text-center rounded-2xl"><a href="#">Más</a></li>
    </ul>
  </nav>
</header>
