<header
  class="w-full h-30 fixed top-0 flex flex-row flex-wrap justify-around items-center border bg-white border-b-neutral-800/10 nav-hidden z-10"
  id="header"
>
  <div
    class="w-20 h-20 bg-white flex flex-row items-center text-center justify-center"
  >
    <span>
      <picture>
        <img
          class="rounded-full"
          src="../../public/images/logo/mab_sabores_logo.jpg"
          alt=""
        />
      </picture>
    </span>
  </div>

  <nav class="w-[700px] h-20 justify-center items-center lg:block hidden">
    <ul
      class="flex flex-row flex-wrap gap-3 justify-center p-0 items-center mt-7 w-full"
    >
      <li class="w-auto text-center">
        <a
          class="relative pb-1 after:content-[''] after:absolute after:left-0 after:bottom-0
            after:w-0 after:h-[2px] after:bg-yellow-600 after:transition-all after:duration-300
            hover:after:w-full"
          href="#home">Inicio</a
        >
      </li>
      <li class="w-auto text-center text-balance">
        <a
          href="#products"
          class="relative pb-1 after:content-[''] after:absolute after:left-0 after:bottom-0
            after:w-0 after:h-[2px] after:bg-yellow-600 after:transition-all after:duration-300
            hover:after:w-full"
        >
          Productos Elegidos</a
        >
      </li>
      <li class="w-auto text-center">
        <a
          class="relative pb-1 after:content-[''] after:absolute after:left-0 after:bottom-0
            after:w-0 after:h-[2px] after:bg-yellow-600 after:transition-all after:duration-300
            hover:after:w-full"
          href="#variety">Variedades</a
        >
      </li>
      <li class="w-auto text-center">
        <a
          class="relative pb-1 after:content-[''] after:absolute after:left-0 after:bottom-0
            after:w-0 after:h-[2px] after:bg-yellow-600 after:transition-all after:duration-300
            hover:after:w-full"
          href="#festivities">Festividades</a
        >
      </li>
      <li class="w-auto text-center">
        <a
          class="relative pb-1 after:content-[''] after:absolute after:left-0 after:bottom-0
            after:w-0 after:h-[2px] after:bg-yellow-600 after:transition-all after:duration-300
            hover:after:w-full"
          href="#testimonial">Testimonios</a
        >
      </li>
    </ul>
  </nav>

  <label class="lg:hidden">
    <div
      class="w-9 h-10 cursor-pointer flex flex-col items-center justify-center"
    >
      <input id="menu" class="hidden peer" type="checkbox" />
      <div
        class="w-[50%] h-[2px] bg-black rounded-sm transition-all duration-300 origin-left translate-y-[0.45rem] peer-checked:rotate-[-45deg]"
      >
      </div>
      <div
        class="w-[50%] h-[2px] bg-black rounded-md transition-all duration-300 origin-center peer-checked:hidden"
      >
      </div>
      <div
        class="w-[50%] h-[2px] bg-black rounded-md transition-all duration-300 origin-left -translate-y-[0.45rem] peer-checked:rotate-[45deg]"
      >
      </div>
    </div>
  </label>

  <nav
    class="absolute bg-neutral-100 w-[100%] min-h-screen top-28 closed-menu"
    id="navbar"
  >
    <ul>
      <li class="w-auto text-center flex justify-center items-center h-20">
        <a
          class="relative pb-1 after:content-[''] after:absolute after:left-0 after:bottom-0
            after:w-0 after:h-[2px] after:bg-yellow-600 after:transition-all after:duration-300
            hover:after:w-full link-item text-2xl"
          href="#home">Inicio</a
        >
      </li>
      <li class="w-auto text-center flex justify-center items-center h-20">
        <a
          class="relative pb-1 after:content-[''] after:absolute after:left-0 after:bottom-0
            after:w-0 after:h-[2px] after:bg-yellow-600 after:transition-all after:duration-300
            hover:after:w-full link-item text-2xl"
          href="#products">Productos Elegidos</a
        >
      </li>
      <li class="w-auto text-center flex justify-center items-center h-20">
        <a
          class="relative pb-1 after:content-[''] after:absolute after:left-0 after:bottom-0
            after:w-0 after:h-[2px] after:bg-yellow-600 after:transition-all after:duration-300
            hover:after:w-full link-item text-2xl"
          href="#variety">Variedades</a
        >
      </li>
      <li class="w-auto text-center flex justify-center items-center h-20">
        <a
          class="relative pb-1 after:content-[''] after:absolute after:left-0 after:bottom-0
            after:w-0 after:h-[2px] after:bg-yellow-600 after:transition-all after:duration-300
            hover:after:w-full link-item text-2xl"
          href="#festivities">Festividades</a
        >
      </li>
      <li class="w-auto text-center flex justify-center items-center h-20">
        <a
          class="relative pb-1 after:content-[''] after:absolute after:left-0 after:bottom-0
            after:w-0 after:h-[2px] after:bg-yellow-600 after:transition-all after:duration-300
            hover:after:w-full link-item text-2xl"
          href="#testimonial">Testimonios</a
        >
      </li>
    </ul>
  </nav>
</header>

<style>
  .open-menu {
    display: block;
    height: 300px;
    overflow: hidden;
    transition: all ease 1s;
  }
  .closed-menu {
    display: none;
  }
</style>

<script>
  const hamburguerMenu = document.getElementById("menu");
  const navbar = document.getElementById("navbar");
  const links = navbar?.querySelectorAll(".link-item");

  hamburguerMenu?.addEventListener("click", () => {
    console.log("click");
    navbar?.classList.toggle("open-menu");
    navbar?.classList.toggle("closed-menu");
  });

  links?.forEach((link: any) => {
    link.addEventListener("click", () => {
      console.log("click link");
      navbar?.classList.add("closed-menu");
      if (hamburguerMenu) hamburguerMenu.checked = false;
    });
  });
</script>
