<section class="h-96 bg-amber-100 flex flex-row flex-wrap items-center gap-2">
    <div class="w-80 h-72 bg-amber-400 rounded-2xl -rotate-2">
        <picture>
            <img src="https://media.istockphoto.com/id/518468635/photo/french-pastries-on-display-a-confectionery-shop.jpg?s=612x612&w=0&k=20&c=av7rYRCLckvDp6s9sGmA_S9Lp_fTSDSSOtmR0wWJ8nY=" alt="">
        </picture>
    </div>
    <div class="w-80 h-80 absolute z-1 left-36 bg-amber-400 rounded-2xl">
        <picture>
            <img src="https://media.istockphoto.com/id/518468635/photo/french-pastries-on-display-a-confectionery-shop.jpg?s=612x612&w=0&k=20&c=av7rYRCLckvDp6s9sGmA_S9Lp_fTSDSSOtmR0wWJ8nY=" alt="">
        </picture>
    </div>
    <div class="w-80 h-72 bg-amber-400 rounded-2xl rotate-2">
        <picture>
            <img src="https://media.istockphoto.com/id/518468635/photo/french-pastries-on-display-a-confectionery-shop.jpg?s=612x612&w=0&k=20&c=av7rYRCLckvDp6s9sGmA_S9Lp_fTSDSSOtmR0wWJ8nY=" alt="">
        </picture>
    </div>
</section>